.contCarr {
    // @include dFlex(center, center, column nowrap);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;

    .carVacio,
    .carrComprado {
        // display: none;
        text-align: center;
    }

    .idCard {
        color: rgba($color-primero, 0.8);
    }

    .productsCarr {

        // @include dFlex(space-around, center, column nowrap);
        display: flex;
        flex-direction: column;
        gap: 20px;
        // display: none;

        div {
            @include dFlex(center, center, column nowrap);
            // gap: 50px;
        }

        .prodCarr {

            // @include dFlex(space-between, center, row nowrap);
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            // grid-template-rows: 50px 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            width: 100%;
            padding: 10px 20px;
            gap: 10px;
            // background: rgba($color-segundo, 0.2);
            border: 1px solid rgba($color-segundo, 0.4);
            border-radius: 10px;
            box-shadow: rgba(236, 104, 9, 0.25) 10px 5px 100px -20px,
                rgba(236, 104, 9, 0.9) 2px 2px 5px 0px;

            small {
                font-size: 18px;
                margin-bottom: 10px;
            }

            .imgPro {
                width: 110px;
            }

            div {
                height: 100%;
                @include dFlex(flex-start, center, column nowrap);

                // position: relative;
                small {
                    // position: absolute;
                    margin-bottom: 20px;
                    color: #F28705;
                }

                i {
                    // height: 50px;
                    // width: 50px;
                    background-color: #F28705;
                    padding: 7px;
                    border: 2px solid #FFF;
                    border-radius: 50%;
                    color: #FFF;
                }
            }
        }

        .btnEliminar {
            border: 0;
            background: transparent;
            color: $color-segundo;
        }
    }

    .accCarr {
        @include dFlex(space-between, center, row nowrap);

        .btnVaciar {
            font-size: 20px;
            letter-spacing: 2px;
            font-weight: 300;
        }

        // padding: 15px 0;
        .dvCalcu {
            @include dFlex(space-between, center, column nowrap);

            .total {
                font-size: 20px;
            }
        }

    }


}

.toastAgregarP {
    @include dFlex(space-around, center, row nowrap);
    background: linear-gradient(270deg, #F28705 3.07%, #F2CB05 77.98%);
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    color: rgba($color-primero, 0.8);
    // font-weight: 500 !important;
}